body {
    margin: 0;
    font-family: Arial;
    background: #111b21;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: #202c33;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.login-box h2 {
    color: white;
    text-align: center;
}

input {
    margin: 5px 0;
    padding: 10px;
}

button {
    margin-top: 5px;
    padding: 10px;
    background: #00a884;
    border: none;
    color: white;
    cursor: pointer;
}

.chat-container {
    width: 400px;
    height: 600px;
    background: #222e35;
    display: flex;
    flex-direction: column;
}

.header {
    background: #005c4b;
    color: white;
    padding: 15px;
    text-align: center;
}

.messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.message {
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 5px;
    max-width: 70%;
}

.me {
    background: #005c4b;
    align-self: flex-end;
    color: white;
}

.other {
    background: #202c33;
    color: white;
}

.typing {
    font-size: 12px;
    color: gray;
    padding-left: 10px;
}
